include mixins/home
include mixins/quick-start
include mixins/basic-api
!!!
html(lang='en')
  head
    meta(charset="utf-8")
    title Stativus
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Stativus is a browser-independent, framework-independent micro-library that provides full statechart functionality to your web application or web page.")
    meta (name="author", content="Evin Grano")
    meta (name="keywords", content="statechart,javascript,micro,library,html,jquery,js")
    
    // Le styles
    link(href="./assets/css/bootstrap.css", rel="stylesheet")
    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .info-text {
        font-size: 115%;
      }
    link(href="./assets/css/bootstrap-responsive.css", rel="stylesheet")

    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    
    // Le fav and touch icons
    link(rel="shortcut icon", href="../assets/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="./assets/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="./assets/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="./assets/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="./assets/ico/apple-touch-icon-57-precomposed.png")
    
    // Google Analytics idea from my beautiful wife
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32146791-1']);
      _gaq.push(['_setDomainName', 'stativ.us']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
      
    
    
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.eventable.brand.home-act(href="#") Stativus
          .nav-collapse.pull-right
            ul.nav
              li: a.eventable.contact-act(href="#") Contact
    
    .container-fluid
      .row-fluid
        .span2
          .well.sidebar-nav
            ul.nav.nav-list
              li.nav-header Statecharts
              li: a.eventable.underContruction(href="#", data='MenuPrimer') *Primer
              li: a.eventable.underContruction(href="#", data='External Resources') *External Resources
              li.nav-header API
              li: a.eventable.basic-api-act(href="#", data='BasicAPI') Basic
              li: a.eventable.underContruction(href="#", data='AdvancedAPI') *Advanced
              li.nav-header Versions
              li: a.eventable.underContruction(href="#", data='versionDebug') *Debug-Mode
              li: a.eventable.underContruction(href="#", data='versionBasic') *Basic
              li: a.eventable.underContruction(href="#", data='versionEventable') *Eventable
              li.nav-header Examples
              li: a.eventable.quick-start-act(href="#", data='MenuQuickStart') Quick Start
              li: a.eventable.underContruction(href="#", data='BasicExample') *Basic
              li: a.eventable.underContruction(href="#", data='AdvancedExample') *Advanced
              li.nav-header Demos
              li: a(href="http://demo.stativ.us") All Demos
              li: a(href="http://demo.stativ.us/html5-canvas/index.html") Redflix \(jQuery, HTML5\)
              li.nav-header Miscellaneous
              li: a.eventable.underContruction(href="#", data='Browsers') *Browser Compatibility
              li: a.eventable.underContruction(href="#", data='License') *License
              li: a.eventable.underContruction(href="#", data='Acknowledgements') *Acknowledgements
        
        
        //- Home Page Mixin
        mixin home
        
        //- Quick Start Page Mixin
        mixin quick-start
        
        //- Basic API Page Mixin
        mixin basic-api
               
        //- End Quick Start
        //- ***********************************
      //- row-fluid

      //- Modals
      .modal.fade.hide#info-modal
        .modal-header Header
        .modal-body Info Text
        .modal-footer
          a.eventable.btn.btn-primary.close-action Close
          
      hr

      footer
        p &copy; Evin Grano 2012

    // Le javascript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="./assets/js/jquery.js")
    script(src="./assets/js/stativus-evt-min.js")
    script(src="./assets/js/states.js")
    script(src="./assets/js/bootstrap-transition.js")
    script(src="./assets/js/bootstrap-alert.js")
    script(src="./assets/js/bootstrap-modal.js")
    script(src="./assets/js/bootstrap-dropdown.js")
    script(src="./assets/js/bootstrap-scrollspy.js")
    script(src="./assets/js/bootstrap-tab.js")
    script(src="./assets/js/bootstrap-tooltip.js")
    script(src="./assets/js/bootstrap-popover.js")
    script(src="./assets/js/bootstrap-button.js")
    script(src="./assets/js/bootstrap-collapse.js")
    script(src="./assets/js/bootstrap-carousel.js")
    script(src="./assets/js/bootstrap-typeahead.js")
    