include mixins/sidenav
include mixins/home
include mixins/quick-start
include mixins/api
include mixins/versions
include mixins/modals
!!!
html(lang='en')
  head
    meta(charset="utf-8")
    title Stativus
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Stativus is a browser-independent, framework-independent micro-library that provides full statechart functionality to your web application or web page.")
    meta (name="author", content="Evin Grano")
    meta (name="keywords", content="statechart,javascript,micro,library,html,jquery,js")
    
    // Le styles
    link(href="./assets/css/bootstrap.css", rel="stylesheet")
    style(type="text/css")
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
      .info-text {
        font-size: 115%;
      }
      #license-modal {
        width: 610px;
      }
    link(href="./assets/css/bootstrap-responsive.css", rel="stylesheet")

    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    
    // Le fav and touch icons
    link(rel="shortcut icon", href="../assets/ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="./assets/ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="./assets/ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="./assets/ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="./assets/ico/apple-touch-icon-57-precomposed.png")
    
    // Google Analytics idea from my beautiful wife
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32146791-1']);
      _gaq.push(['_setDomainName', 'stativ.us']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    //- Twitter follow stuff...
    script(type="text/javascript")
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    //- Twitter tweet stuff
    script(type="text/javascript")
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    //- Google +1
    script(type="text/javascript")
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.eventable.brand.home-act(href="#") Stativus
          .nav-collapse.pull-right
            ul.nav
              li: a.eventable.contact-act(href="#") Contact
              //- li: a.btn#follow-button(target="_blank", title="Follow @stativus on Twitter" href="https://twitter.com/intent/follow?original_referer=http%3A%2F%2Ftwitter.github.com%2Fbootstrap%2Findex.html&amp;region=follow_link&amp;screen_name=twbootstrap&amp;source=followbutton&amp;variant=2.0"><i></i><span class="label" id="l">Follow <b>@twbootstrap</b></span></a></div><div class="count-o" id="c"><i></i><u></u><a id="count" class="note" target="_blank" href="https://twitter.com/intent/user?original_referer=http%3A%2F%2Ftwitter.github.com%2Fbootstrap%2Findex.html&amp;region=count_link&amp;screen_name=twbootstrap&amp;source=followbutton&amp;variant=2.0">25.2K followers</a></div></div>
              li: span
                a.btn.btn-primary.twitter-follow-button(href="https://twitter.com/stativus", data-show-count="false", data-size="small") Follow @stativus
              li: span
                a.btn.btn-primary.twitter-share-button(href="https://twitter.com/share", data-via="etgryphon", data-related="etgryphon", data-hashtags="statecharts") Tweet
    
    .container-fluid
      .row-fluid
        mixin sidenav
        
        //- Home Page Mixin
        mixin home
        
        //- Quick Start Page Mixin
        mixin quick-start
        
        //- API Page Mixin
        mixin api
               
        //- Versions Page Mixin
        mixin versions
      //- row-fluid

      //- Modals
      mixin modals    
      hr

      footer
        p &copy; Evin Grano 2012

    // Le javascript
    // ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="./assets/js/jquery.js")
    script(src="./assets/js/stativus-evt-min.js")
    script(src="./assets/js/states.js")
    script(src="./assets/js/bootstrap-transition.js")
    script(src="./assets/js/bootstrap-alert.js")
    script(src="./assets/js/bootstrap-modal.js")
    script(src="./assets/js/bootstrap-dropdown.js")
    script(src="./assets/js/bootstrap-scrollspy.js")
    script(src="./assets/js/bootstrap-tab.js")
    script(src="./assets/js/bootstrap-tooltip.js")
    script(src="./assets/js/bootstrap-popover.js")
    script(src="./assets/js/bootstrap-button.js")
    script(src="./assets/js/bootstrap-collapse.js")
    script(src="./assets/js/bootstrap-carousel.js")
    script(src="./assets/js/bootstrap-typeahead.js")
    