!!!
html(lang='en')
  head
    script(src="./assets/js/jquery.js")
    script(src="./assets/js/stativus-evt-min.js")    
  body
    #state-one(style='display: none; background-color: red; color: white;') 
      h1 State One \(#1\)
    #state-two(style='display: none; background-color: blue; color: white;') 
      h1 State Two \(#2\)
    a.eventable(href='#') \(Not in the tutorial\) Auto-fire 'fireEvent'
    
    script(type="text/javascript")
      var statechart = Stativus.createStatechart();
      statechart.addState("#state-one", {
        actions: {'.eventable click': 'fireEvent'}, // NOT IN TUTORIAL
        enterState: function(){
          console.log('boom');
          $('#state-one').show(); // Using JQuery, but you can use whatever...
        },
        exitState: function(){
          $('#state-one').hide(); // Using JQuery, but you can use whatever...
        },
        fireEvent: function(){
          this.goToState('#state-two');
        }
      });
      statechart.addState("#state-two", {
        actions: {'.eventable click': 'fireEvent'}, // NOT IN TUTORIAL
        enterState: function(){
          $('#state-two').show(); // Using JQuery, but you can use whatever...
        },
        exitState: function(){
          $('#state-two').hide(); // Using JQuery, but you can use whatever...
        },
        fireEvent: function(){
          this.goToState('#state-one');
        }
      });
      statechart.initStates('#state-one');
      
      // Code doesn't exist in the tutorial...using the eventable library...go look it up!
      $(document).bind('click', function(evt){
        statechart.tryToPerform(evt);
      });
      this.statechart = statechart;
      
    
