mixin faq
  script#faq-template(type='text/template')
    .page-header
      h1 Frequently Asked Questions
      p.lead Find answers to some commonly asked questions

    .section
      .lead Q: What type of license does Stativus have?
      blockquote: p A: Stativus is licensed under the terms of the 
        a(href='http://en.wikipedia.org/wiki/MIT_License', target='_blank') MIT license
        |.

    .section
      .lead Q: I have found an issue or bug, how do I report it?
      blockquote: p A: We are always working to constantly improve Stativus, so please 
        a(href='https://github.com/etgryphon/stativus/issues', target='_blank') submit
        |  any questions, issues or bugs at the github account...

    .section
      .lead Q: What browsers does Stativus support?
      blockquote: p A: Stativus supports all modern browsers: 
        a(href='http://www.google.com/chrome', target='_blank') Google Chrome
        |, 
        a(href='http://www.getfirefox.com', target='_blank') Mozilla Firefox
        |, and 
        a(href='http://windows.microsoft.com/en-us/internet-explorer/download-ie', target='_blank') Internet Explorer 10
        |.

    .section
      .lead Q: Does Stativus support Internet Explorer 7, 8, or 9?
      blockquote: p A: Yes, Stativus will work in Internet Explorer 7, 8, and 9. Though, use of a 
        a(href='http://en.wikipedia.org/wiki/Web_browser#Standards_support', target='_blank') modern browser 
        | is encouraged.

    .section
      .lead Q: Can Stativus be used with JavaScript MV* frameworks?
      blockquote: p A: YES! I can be used with Backbone.js, knockout.js, SpoutCore, Ember.js, ExtJS, Spine, and others...

    .section
      .lead Q: Is there anywhere I can read more about statecharts?
      blockquote: p A: You can learn more about statecharts by reading David Harel&#39;s 
        a(href='http://www.wisdom.weizmann.ac.il/~harel/SCANNED.PAPERS/Statecharts.pdf', target='_blank') white paper
        |.