mixin guide
  script#guide-template(type='text/template')
    .page-header
      h1 Guide
      p.lead Go from zero to statechart hero with this basic guide through Stativus

    .callout
      strong heck·le (/ˈhekəl/)
      br
      i verb
      br
      |    1. To try to embarrass and annoy (someone speaking or performing in public) by questions, gibes, or objections; badger.
      br
      |    2. To comb (flax or hemp) with a hatchel.
      br
      br
      strong Example: 
      | Someone should really heckle me to finish the guide section.
