mixin home
  script#home-template(type='text/template')
    .bs-masthead
      .container
        h1 Stativus
        p.lead Stativus is a cross-browser, framework-independent micro-library that provides
          | full statechart functionality to your web application or web page.
        p
          a.btn.btn-default.btn-large.download Download Stativus
          .callout.hidden
            h4 What&#39;s this?! 
            p We need to get a reliable download link
        small.version v. 0.10.0
    .marketing

      hr.featurette-divider
      .featurette
        a(href='#', target='_blank')
          img.featurette-image.img-circle.pull-right(style='width: 300px; height: 300x;', src='http://placehold.it/300x300')
        h2.featurette-heading
          | What is a 
          span.text-muted Statechart?
        p.lead
          | A Statechart is a hierarchical finite state machine that is very useful in building and organizing user interfaces. 
          a(href='#') Read the primer...

      hr.featurette-divider
      .featurette
        a(href='#', target='_blank')
          img.featurette-image.img-circle.pull-left(style='width: 300px; height: 300x;', src='http://placehold.it/300x300')
        h2.featurette-heading Why should I use 
          span.text-muted Statecharts?
        p.lead You should use statecharts because...


      hr.featurette-divider
      .featurette
        a(href='https://github.com/etgryphon/stativus', target='_blank')
          img.featurette-image.img-circle.pull-right(style='width: 300px; height: 300x;', src='http://placehold.it/300x300')
        h2.featurette-heading
          | Where&#39;s the 
          span.text-muted Code?
        p.lead
          | The code is hosted on <a href='https://github.com/etgryphon/stativus' target='_blank'>Github</a>: Watch, Fork, Play!