mixin samples
  script#samples-template(type='text/template')
    .page-header
      h1 Sample Applications
      p.lead Imitation is the sincerest form of flattery. Learn how to build a Stativus powered application 
        | from other Stativus powered applications.
    .media
      a.pull-left(href='https://github.com/etgryphon/stativus/tree/gh-pages', target='_blank')
        img.media-object(src='http://placehold.it/96x96')
      .media-body
        h3.media-heading: a(href='https://github.com/etgryphon/stativus/tree/gh-pages', target='_blank') Stativus Documentation
        p.lead The main Stativus Documentation site is built with Stativus, 
          a(href='http://jquery.com/', target='_blank') jQuery
          |, 
          a(href='http://getbootstrap.com', target='_blank') Twitter Bootstrap
          |, 
          a(href='http://alexgorbatchev.com/SyntaxHighlighter/', target='_blank') SyntaxHighlighter
          |, and 
          a(href='http://mtrpcic.github.io/pathjs/', target='_blank') Path
          |.
    .media
      a.pull-left(href='http://demo.stativ.us/html5-canvas/index.html', target='_blank')
        img.media-object(src='http://placehold.it/96x96')
      .media-body
        h3.media-heading: a(href='http://demo.stativ.us/html5-canvas/index.html', target='_blank') Red Flix
        p.lead Fake Movie Application for your TV. Developed with 
         a(href='http://jquery.com/', target='_blank') jQuery
         |  and HTML5 Canvas Only. Navigate with the Left, Right, Up, Down and Enter Keys (No Mouse)
