.version
  color #474949

.bs-masthead
  position relative
  padding-top 100px
  padding-bottom 30px
  text-align center
  h1
    font-size 100px
    line-height 1
  .lead
    font-size 28px
  .btn
    margin-top 5px
    margin-bottom 5px
    padding 18px 24px
    font-size 21px

.marketing
  padding-left 15px
  padding-right 15px
  .col-lg-4
    text-align center
    margin-bottom 20px
  h2
    font-weight normal
  .col-lg-4 p
    margin-left 10px
    margin-right 10px
  .featurette-divider
    margin 80px 0 /* Space out the Bootstrap <hr> more */
  .featurette
    text-align left
    padding-top 100px /* Vertically center images part 1 add padding above and below text. */
    overflow hidden /* Vertically center images part 2 clear their floats. */
  .featurette-image
    margin-top -100px /* Vertically center images part 3 negative margin up the image the same amount of the padding to center it. */
  /* Give some space on the sides of the floated elements so text doesn't run right into it. */
  .featurette-image.pull-left
    margin-right 40px
  .featurette-image.pull-right
    margin-left 40px
  /* Thin out the marketing headings */
  .featurette-heading
    font-size 50px
    font-weight 300
    line-height 1
    letter-spacing -1px
    margin-top 0px